* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  color: white;
  transition: background-color 0.4s ease;
}
body.pomodoro {
  background-color: rgb(250, 176, 189);
}

body.shortBreak {
  background-color: #9FD6BF;
}

body.longBreak {
  background-color: #B3ADE6;
}

